
/* h1{
    color:brown;
    background-color:aqua;
}
button{
    background-color: blue;
    color:white;
}
.abc{
    color:red;
background-color: black;
} */
 .c1{
    color:red;
    background-color: aqua;
font-style: italic;
 }
 .newclass{
    background-color:black;
    color:white;
 }
 div{
    height:200px;
    width:200px;
border:2px solid black;
background-color:blue;
color:white;
 }