 body{
    margin:0;
    
 }
button{
    font-size: 2rem;
    height:10vmin;
    width:10vmin;
    border-radius: 1rem;
    background-color: aqua;
    font-weight:bold;
    cursor:pointer;
}
.container{
    height:70vh;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
   
    
}
.calc{
    height:80vmin;
    width:50vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    gap:1.6vmin;
    border:2px solid black;
       margin-top: 5rem;
       background-color: black;
       overflow:hidden;
}
#display{
    color:black;
    border:1px solid black;
    width:21rem;
    height:8rem;
    background-color: cadetblue;
     font-size:4rem;
} 
button:hover{
    color:brown;
    background-color: green;
} 
.operator{
    background-color: orange;

}

