body {
    font-family: Arial, sans-serif;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
}

.product {
    border: 2px solid #08e025;
    padding: 10px;
    margin: 10px;
    width: 200px;
}

.product img {
    width: 100%;
    height: auto;
}

.product h3 {
    margin: 10px 0;
}

.product button {
    background-color: #da1223;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#cart {
    margin-top: 20px;
}

#cart-items li {
    margin-bottom: 10px;
}

#checkout-btn {
    background-color: #720fc9;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
